* {
  margin: 0;
  padding: 0;
}

.grid {
  font-size: 2rem;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.gridRow {
  /* display: flex; */
}

.buttons-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 8rem;
}

.buttons button {
  width: 2rem;
  /* justify-content: center; */
}
